# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.log
*.db
*.env

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Environments
.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# IDEs
.vscode/
.idea/

# Other
*.coverage
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.swp
*~
.project
.pydevproject
